USE [OTCMS]
GO
/****** Object:  Table [dbo].[Batch]    Script Date: 09-02-2026 14:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Batch](
	[BatchId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[BatchName] [varchar](100) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[HandledBy] [varchar](100) NOT NULL,
	[Status] [bit] NOT NULL,
	[Timings] [varchar](50) NOT NULL,
	[Duration] [varchar](50) NOT NULL,
	[Fee] [decimal](10, 2) NOT NULL,
	[Description] [varchar](500) NOT NULL,
 CONSTRAINT [PK__Batch__5D55CE58FA7F5996] PRIMARY KEY CLUSTERED 
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BatchContent]    Script Date: 09-02-2026 14:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BatchContent](
	[BCId] [int] NOT NULL,
	[BatchId] [int] NOT NULL,
	[Topic] [varchar](255) NOT NULL,
	[OnDate] [date] NOT NULL,
	[VideoFilePath] [varchar](500) NOT NULL,
	[NotesDocumentPath] [varchar](500) NOT NULL,
 CONSTRAINT [PK__BatchCon__31387BDA36889179] PRIMARY KEY CLUSTERED 
(
	[BCId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 09-02-2026 14:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseId] [int] NOT NULL,
	[NameOfTheCourse] [varchar](100) NOT NULL,
	[CourseDescription] [varchar](500) NOT NULL,
	[Status] [bit] NOT NULL,
	[CourseLogoImagePath] [varchar](300) NOT NULL,
	[CourseContentFilePath] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK__Course__C92D71A7BD49C1A6] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 09-02-2026 14:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Subject] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](15) NOT NULL,
	[RemarksByAdmin] [nvarchar](300) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentCards]    Script Date: 09-02-2026 14:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentCards](
	[PaymentCardId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentId] [int] NOT NULL,
	[CardNumber] [varchar](25) NOT NULL,
	[CardHolderName] [varchar](100) NOT NULL,
	[ExpiryDate] [varchar](5) NOT NULL,
	[CCV] [varchar](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentCardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 09-02-2026 14:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[Id] [int] NOT NULL,
	[BatchId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[PaymentOn] [datetime] NOT NULL,
	[PaymentAmount] [decimal](18, 2) NOT NULL,
	[PaymentTypeId] [int] NOT NULL,
	[PaymentStatus] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTypes]    Script Date: 09-02-2026 14:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTypes](
	[PaymentTypeId] [int] NOT NULL,
	[PaymentTypeName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PaymentTypes] PRIMARY KEY CLUSTERED 
(
	[PaymentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 09-02-2026 14:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] NOT NULL,
	[RoleName] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slider]    Script Date: 09-02-2026 14:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[SliderId] [int] IDENTITY(1,1) NOT NULL,
	[SliderName] [nvarchar](30) NOT NULL,
	[SliderStatus] [bit] NOT NULL,
	[SliderText] [nvarchar](300) NOT NULL,
	[SliderDescriptionText] [nvarchar](500) NOT NULL,
	[SliderOrderNo] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[SliderUrl] [nvarchar](200) NOT NULL,
	[SliderImagePath] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__Slider__24BC96F0A4F64419] PRIMARY KEY CLUSTERED 
(
	[SliderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentBatchDetails]    Script Date: 09-02-2026 14:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentBatchDetails](
	[StudentBatchDetailsId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[BatchId] [int] NOT NULL,
	[PaymentId] [int] NOT NULL,
	[EnrolledOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentBatchDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 09-02-2026 14:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Mobile] [char](10) NOT NULL,
	[Password] [nvarchar](256) NOT NULL,
	[UserId] [nvarchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK__User__3214EC07A7877E4C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLog]    Script Date: 09-02-2026 14:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLog](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[Id] [int] NOT NULL,
	[LoginTime] [datetime] NOT NULL,
	[LogoutTime] [datetime] NULL,
 CONSTRAINT [PK_UserLog] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Video]    Script Date: 09-02-2026 14:13:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Video](
	[CourseVideoId] [int] IDENTITY(1,1) NOT NULL,
	[VideoTitle] [nvarchar](200) NOT NULL,
	[VideoDescription] [nvarchar](2000) NOT NULL,
	[VideoLink] [nvarchar](1500) NOT NULL,
	[Status] [bit] NOT NULL,
	[CourseId] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Video] PRIMARY KEY CLUSTERED 
(
	[CourseVideoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Batch] ([BatchId], [CourseId], [BatchName], [StartDate], [EndDate], [HandledBy], [Status], [Timings], [Duration], [Fee], [Description]) VALUES (2003, 1002, N'NC001', CAST(N'2026-02-04' AS Date), CAST(N'2026-04-01' AS Date), N'Mohan', 1, N'Tue-Thu 07:30 PM - 09:00 PM', N'8 Weeks', CAST(15999.00 AS Decimal(10, 2)), N'C# 14 + .NET: OOP, LINQ, async/await, exception handling, collections, and hands-on labs.')
INSERT [dbo].[Batch] ([BatchId], [CourseId], [BatchName], [StartDate], [EndDate], [HandledBy], [Status], [Timings], [Duration], [Fee], [Description]) VALUES (2004, 1002, N'NC002', CAST(N'2026-04-13' AS Date), CAST(N'2026-06-08' AS Date), N'Mohan', 1, N'Sat-Sun 10:00 AM - 01:00 PM', N'8 Weeks', CAST(15999.00 AS Decimal(10, 2)), N'Weekend .NET with C# covering best practices, debugging, and structured assessments.')
INSERT [dbo].[Batch] ([BatchId], [CourseId], [BatchName], [StartDate], [EndDate], [HandledBy], [Status], [Timings], [Duration], [Fee], [Description]) VALUES (2011, 1006, N'SSM001', CAST(N'2026-02-11' AS Date), CAST(N'2026-03-25' AS Date), N'Mohan', 1, N'Tue-Thu 07:30 PM - 09:00 PM', N'6 Weeks', CAST(8999.00 AS Decimal(10, 2)), N'SQL Server: query basics, joins, views, stored procedures intro, indexing basics, and SSMS usage.')
GO
INSERT [dbo].[BatchContent] ([BCId], [BatchId], [Topic], [OnDate], [VideoFilePath], [NotesDocumentPath]) VALUES (3001, 2031, N'introductions to c programing', CAST(N'2026-01-30' AS Date), N'/batchcontentvideos/d68ccf0f-80b6-4354-9999-1c5239f188d6_cybersecuritymeme-funny-video-memes-qualysec-security-testing-company-1080-publer.io.mp4', N'/batchcontentnotes/61fc54e9-6fea-4e5a-b68a-d403a8fad52b_Syllabus_Core_Java_and_Advanced_Java .pdf')
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FeedbackId], [Name], [Subject], [Description], [Email], [Phone], [Status], [RemarksByAdmin], [CreatedOn]) VALUES (3, N'kartik madagundi', N'Regarding course price ', N'good good good good good good good good good good good good good good good good good good good good good good good good good good good', N'kartik@gmail.com', N'7865456769', N'Closed', N'thanks', CAST(N'2026-02-05T14:29:16.3180000' AS DateTime2))
INSERT [dbo].[Feedback] ([FeedbackId], [Name], [Subject], [Description], [Email], [Phone], [Status], [RemarksByAdmin], [CreatedOn]) VALUES (4, N'Darshan K S', N'Regarding course price ', N'course price is very high and if its low i would enroll for the particular course', N'darshan@gmail.com', N'6754675678', N'Closed', N'i will look into it ', CAST(N'2026-02-05T20:21:40.1460000' AS DateTime2))
INSERT [dbo].[Feedback] ([FeedbackId], [Name], [Subject], [Description], [Email], [Phone], [Status], [RemarksByAdmin], [CreatedOn]) VALUES (5, N'kartik madagundi', N'Regarding course price ', N'cftvghnjuytrdfvgbhjnhtfsdfvghjitrdftgyhunjihgfvgbhnjirdftgybhunjiydfghjiuytrfgyhujifvgh', N'kartik@gmail.com', N'7865456769', N'Closed', N'good ', CAST(N'2026-02-07T10:20:46.1620000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentCards] ON 

INSERT [dbo].[PaymentCards] ([PaymentCardId], [PaymentId], [CardNumber], [CardHolderName], [ExpiryDate], [CCV]) VALUES (30, 32, N'**** **** **** 9876', N'Kartik', N'12/26', N'5676')
INSERT [dbo].[PaymentCards] ([PaymentCardId], [PaymentId], [CardNumber], [CardHolderName], [ExpiryDate], [CCV]) VALUES (31, 33, N'**** **** **** 4678', N'kartik', N'12/29', N'123')
INSERT [dbo].[PaymentCards] ([PaymentCardId], [PaymentId], [CardNumber], [CardHolderName], [ExpiryDate], [CCV]) VALUES (32, 34, N'**** **** **** 9765', N'876887687hjbjhvjh', N'12/29', N'2222')
SET IDENTITY_INSERT [dbo].[PaymentCards] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentId], [Id], [BatchId], [CourseId], [PaymentOn], [PaymentAmount], [PaymentTypeId], [PaymentStatus]) VALUES (32, 13, 2003, 1002, CAST(N'2026-02-04T16:21:02.097' AS DateTime), CAST(15999.00 AS Decimal(18, 2)), 1, 2)
INSERT [dbo].[Payments] ([PaymentId], [Id], [BatchId], [CourseId], [PaymentOn], [PaymentAmount], [PaymentTypeId], [PaymentStatus]) VALUES (33, 13, 2031, 1016, CAST(N'2026-02-04T16:25:04.530' AS DateTime), CAST(18999.00 AS Decimal(18, 2)), 1, 2)
INSERT [dbo].[Payments] ([PaymentId], [Id], [BatchId], [CourseId], [PaymentOn], [PaymentAmount], [PaymentTypeId], [PaymentStatus]) VALUES (34, 13, 2019, 1010, CAST(N'2026-02-05T03:42:57.530' AS DateTime), CAST(1999.00 AS Decimal(18, 2)), 1, 3)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
INSERT [dbo].[PaymentTypes] ([PaymentTypeId], [PaymentTypeName]) VALUES (1, N'Debit Card')
INSERT [dbo].[PaymentTypes] ([PaymentTypeId], [PaymentTypeName]) VALUES (2, N'Credit Card')
GO
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (5001, N'Admin')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (5002, N'Student')
GO
SET IDENTITY_INSERT [dbo].[Slider] ON 

INSERT [dbo].[Slider] ([SliderId], [SliderName], [SliderStatus], [SliderText], [SliderDescriptionText], [SliderOrderNo], [CreatedOn], [SliderUrl], [SliderImagePath]) VALUES (6, N'ASP .NET Core', 1, N'ASP .NET core', N'ASP.NET Core is a modern, high-performance, open-source web development framework developed by Microsoft and the community for building web applications, APIs.', 2, CAST(N'2026-01-27T00:00:00.000' AS DateTime), N'CourseList/', N'/images/9068991d-c854-4044-9bf1-c7cd18b570ba.gif')
INSERT [dbo].[Slider] ([SliderId], [SliderName], [SliderStatus], [SliderText], [SliderDescriptionText], [SliderOrderNo], [CreatedOn], [SliderUrl], [SliderImagePath]) VALUES (7, N'.Net with C#14', 1, N'.Net Core with C#14', N'.NET and Visual Studio team members showing you some of the amazing new things you can do with .NET 10, C# 14 and Visual Studio 2026. ', 1, CAST(N'2026-01-27T00:00:00.000' AS DateTime), N'CourseList/', N'/images/ba574f81-5fd1-4c23-8cd9-81a6c3e27a6d.gif')
INSERT [dbo].[Slider] ([SliderId], [SliderName], [SliderStatus], [SliderText], [SliderDescriptionText], [SliderOrderNo], [CreatedOn], [SliderUrl], [SliderImagePath]) VALUES (9, N'Docker', 1, N'Docker', N'Docker Slider will redirect to docker course', 3, CAST(N'2026-01-27T00:00:00.000' AS DateTime), N'CourseList/', N'/images/ebfe9771-d924-4fac-b18b-ec1c6ad6e173.gif')
SET IDENTITY_INSERT [dbo].[Slider] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentBatchDetails] ON 

INSERT [dbo].[StudentBatchDetails] ([StudentBatchDetailsId], [UserId], [BatchId], [PaymentId], [EnrolledOn]) VALUES (13, 13, 2003, 32, CAST(N'2026-02-04T16:22:56.920' AS DateTime))
INSERT [dbo].[StudentBatchDetails] ([StudentBatchDetailsId], [UserId], [BatchId], [PaymentId], [EnrolledOn]) VALUES (14, 13, 2031, 33, CAST(N'2026-02-04T16:25:23.823' AS DateTime))
INSERT [dbo].[StudentBatchDetails] ([StudentBatchDetailsId], [UserId], [BatchId], [PaymentId], [EnrolledOn]) VALUES (15, 14, 2003, 42, CAST(N'2026-02-05T14:50:20.067' AS DateTime))
SET IDENTITY_INSERT [dbo].[StudentBatchDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [FirstName], [LastName], [Email], [Mobile], [Password], [UserId], [Status], [RoleId]) VALUES (1, N'Mohan', N'Kumar', N'mohan@gmail.com', N'6754675678', N'AQAAAAIAAYagAAAAEP8Dv/qGMDngIb1cFh2Di+GPfCiGYYdO0o+rc2sApjhwKpNhYkcRlYQ7ff3rHzGPWg==', N'mohan@gmail.com', 1, 5001)
INSERT [dbo].[User] ([Id], [FirstName], [LastName], [Email], [Mobile], [Password], [UserId], [Status], [RoleId]) VALUES (13, N'Kartik', N'Madagundi', N'kartik@gmail.com', N'7865456765', N'AQAAAAIAAYagAAAAEMqYjqKhUwcsxMncH2aVZME4Px90Ef2JctAoTz6xKcE/07I+k6r0s9UGGx3wS4RxDw==', N'kartik@gmail.com', 1, 5002)
INSERT [dbo].[User] ([Id], [FirstName], [LastName], [Email], [Mobile], [Password], [UserId], [Status], [RoleId]) VALUES (14, N'Darshan', N'K S', N'darshan@gmail.com', N'6754675678', N'AQAAAAIAAYagAAAAENLERwEat9Dy5hzzIFMu2XRZyL0aZsqPgf4+SjVXXtM39qhs7xNbingI1KVP897glA==', N'darshan@gmail.com', 1, 5002)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserLog] ON 

INSERT [dbo].[UserLog] ([LogId], [Id], [LoginTime], [LogoutTime]) VALUES (67, 1, CAST(N'2026-02-04T21:28:36.480' AS DateTime), CAST(N'2026-02-04T21:29:31.777' AS DateTime))
INSERT [dbo].[UserLog] ([LogId], [Id], [LoginTime], [LogoutTime]) VALUES (68, 13, CAST(N'2026-02-04T21:48:26.070' AS DateTime), CAST(N'2026-02-04T21:51:53.477' AS DateTime))
INSERT [dbo].[UserLog] ([LogId], [Id], [LoginTime], [LogoutTime]) VALUES (69, 1, CAST(N'2026-02-04T21:51:59.267' AS DateTime), CAST(N'2026-02-04T21:53:26.397' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserLog] OFF
GO
SET IDENTITY_INSERT [dbo].[Video] ON 

SET IDENTITY_INSERT [dbo].[Video] OFF
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentOn]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ((0)) FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[StudentBatchDetails] ADD  DEFAULT (getdate()) FOR [EnrolledOn]
GO
ALTER TABLE [dbo].[Batch]  WITH CHECK ADD  CONSTRAINT [fk_course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([CourseId])
GO
ALTER TABLE [dbo].[Batch] CHECK CONSTRAINT [fk_course]
GO
ALTER TABLE [dbo].[BatchContent]  WITH CHECK ADD  CONSTRAINT [FK__BatchCont__Batch__160F4887] FOREIGN KEY([BatchId])
REFERENCES [dbo].[Batch] ([BatchId])
GO
ALTER TABLE [dbo].[BatchContent] CHECK CONSTRAINT [FK__BatchCont__Batch__160F4887]
GO
ALTER TABLE [dbo].[PaymentCards]  WITH CHECK ADD  CONSTRAINT [FK_PaymentCards_Payments] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[Payments] ([PaymentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaymentCards] CHECK CONSTRAINT [FK_PaymentCards_Payments]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_PaymentTypes] FOREIGN KEY([PaymentTypeId])
REFERENCES [dbo].[PaymentTypes] ([PaymentTypeId])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_PaymentTypes]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_User] FOREIGN KEY([Id])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_User]
GO
ALTER TABLE [dbo].[StudentBatchDetails]  WITH CHECK ADD  CONSTRAINT [FK_StudentBatchDetails_Batch] FOREIGN KEY([BatchId])
REFERENCES [dbo].[Batch] ([BatchId])
GO
ALTER TABLE [dbo].[StudentBatchDetails] CHECK CONSTRAINT [FK_StudentBatchDetails_Batch]
GO
ALTER TABLE [dbo].[StudentBatchDetails]  WITH CHECK ADD  CONSTRAINT [FK_StudentBatchDetails_Payments] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[Payments] ([PaymentId])
GO
ALTER TABLE [dbo].[StudentBatchDetails] CHECK CONSTRAINT [FK_StudentBatchDetails_Payments]
GO
ALTER TABLE [dbo].[StudentBatchDetails]  WITH CHECK ADD  CONSTRAINT [FK_StudentBatchDetails_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[StudentBatchDetails] CHECK CONSTRAINT [FK_StudentBatchDetails_User]
GO
ALTER TABLE [dbo].[UserLog]  WITH CHECK ADD  CONSTRAINT [FK_UserLog_User] FOREIGN KEY([Id])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserLog] CHECK CONSTRAINT [FK_UserLog_User]
GO
ALTER TABLE [dbo].[Video]  WITH CHECK ADD  CONSTRAINT [FK_Video_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([CourseId])
GO
ALTER TABLE [dbo].[Video] CHECK CONSTRAINT [FK_Video_Course]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CK_Payments_Status] CHECK  (([PaymentStatus]=(3) OR [PaymentStatus]=(2) OR [PaymentStatus]=(1) OR [PaymentStatus]=(0)))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payments_Status]
GO
